.site-title {
    font-weight: 400;
    font-size: 1.6rem;
    font-family: inherit;
    text-transform: capitalize;
  }
  
  .site-title::after {
    content: "– rendered in pixels, prose, and html";
    font-weight: 200;
    font-size: 0.9rem;
    color: #666;
    margin-left: 0px;
    letter-spacing: 0.0em;
    text-transform: none;
  }
  
  body {
    background-color: #fffdf5;
    color: #292d51;
    font-family: serif, sans-serif, system-ui;
    letter-spacing: 0;
    word-spacing: -0.1em;
    line-height: .5;
  }
  
  header, header * {
    color: #292d51;
  }
  
  a {
    color: #292d51;
  }
  
  footer {
    margin-top: 3rem;
    font-size: 0.9rem;
  }
  